<launch>
    
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial_node" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

    <include file="$(find bimu_rgbd_camera)/launch/bimu_camera.launch" />

    <node pkg="object_detection" type="rgbdepthyolo.py" name="object_detect_node" output="screen" />

</launch>
